body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 50px;
  background-color: rgb(109, 214, 10);
}

main {
  width: 65%;
  max-width: 1320px;
  margin-inline: auto;
}

footer {
  height: 100px;
  background-color: #1ca3b4;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

h1,
h3 {
  font-weight: 800;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h4,
h5 {
  font-weight: 700;
}

h1,
h3,
h4,
h5 {
  color: #000000ce;
}

a {
  color: #3dd60e;
}