/* .container {
  display: flex;
  gap: 10px;
}

.item {
  width: 250px;
  height: 250px;
  color: #fff;
  font-size: 45px;
  background-color: brown;
}

.item:nth-child(3){
  order: 1;
}

.item:nth-child(2){
  order: 3;
}

.item:nth-child(4){
  order: 2;
}
.item:nth-child(1){
  order: 4;
} */