* {
  box-sizing: border-box;
}


div {
  display: flex;
}

p {
  width: 300px;
  height: 300px;
  color: #ffffff;
  background-color: brown;
  /* padding: 30px; */
  /* padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 100px;
  padding-right: 20px; */
  padding: 30px;
  /* top-right-bottom-left */
  /* margin: 40px 50px; */
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;



  /* border-width: 30px;
  border-style: solid;
  border-color: red; */

  /* outline: 100px solid red; */
  /* border-top-color: blue;
  border-top-style: groove;
  border-top-width: 15px; */
  /* outline-top: 15px groove blue; */
  /* border-radius: 50%; */
  /* border-top-left-radius: 40px;
  border-bottom-right-radius: 30px 50px; */

  outline: ;

  box-sizing: border-box;
}

/* p:nth-child(1) {
  margin-right: 30px;
}

p:nth-child(2) {
  margin-left: 50px;
} */