.container {
  width: 1000px;
  height: 700px;
  border: 1px solid brown;
  padding: 10px;
  margin-inline: auto;
  position: relative;
}

/* :not(:nth-child(3)) */
.item {
  width: 150px;
  height: 150px;
  background-color: brown;
  color: #fff;
  font-size: 45px;
  margin: 3px;
}

.item:nth-child(3) {
  /* background-color: brown;
  color: #fff;
  font-size: 45px; */
  /* position: relative; */
  /* position: absolute; */
  position: fixed;
  /* inset: 0; */
  bottom: 40px;
  right: 100px;
  z-index: 100;
}

/* body{
  margin: 0;
} */

/* h2 {
  background-color: yellow;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 20px; */
  /* position: initial; */
  /* bottom: 10px;
} */

/* relative,absolute,sticky,fixed,static */