.books {
  width: 70%;
  margin-inline: auto;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.book {
  width: 350px;
  height: 450px;

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;

  }
}