.container {
  width: 80%;
  margin-inline: auto;
  border: 1px solid #ccc;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 0.7fr 1fr 1.8fr;
  grid-template-rows: repeat(4, 250px);
  gap: 30px;
}

.item {
  background-color: brown;
  color: #fff;
  font-size: 150px;
}

.item:first-child {
  grid-row: 1 / 3;
}

.item:nth-child(2) {
  grid-row: 1 / 4;
}

.item:nth-child(3) {
  grid-column: 3 / span 3;
}

.item:nth-child(4) {
  grid-row: 1 / 3;
  grid-column: 6;
}

.item:nth-child(6) {
  grid-column: 4/ span 2;
}

.item:nth-child(7) {
  grid-row: 3/ span 2;
}

.item:nth-child(8) {
  grid-column: 3/ span 3;
}
.item:nth-child(11) {
  grid-column: 3/ span 2;
}