.container {
  width: 80%;
  margin-inline: auto;
  border: 1px solid #ccc;
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 1.2fr;
  grid-template-rows: repeat(3, 250px);
  gap: 30px;
}

.item {
  background-color: brown;
  color: #fff;
  font-size: 150px;
}

.item:first-child {
  grid-row: 1/ 4;
  /* grid-row: 1/ span 3; */
  /* grid-row-start: 1;
  grid-row-end: 4; */
  /* grid-row-start: 1;
  grid-row-end: span 3; */
}

.item:nth-child(3) {
  grid-row: 1 / 3;
  grid-column: 3;
}

.item:nth-child(5) {
  /* grid-row: 2/ 4; */
  grid-row: 2 / span 2;
}