/* li:first-child {
  color: red;
  background-color: antiquewhite;
} */
/* li:nth-of-type(5){
  color: blue;
} */

/* li {
  background-color: black;
  color: #fff;
  width: fit-content;
  transition: .3s;
  list-style-position: inside;
  cursor:pointer;
}

li:hover {
  background-color: #fff;
  color: #000;
} */

/* li:last-child{
  color: yellow;
  background-color: black;
} */

body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

.box {
  width: 400px;
  height: 400px;
  margin: 100px auto;
  background-color: red;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}

.box:hover img {
  scale: 1.4;
}