.container {
  width: 75%;
  max-width: 1320px;
  margin-inline: auto;
}


body {
  color: #63636b;
  line-height: 1.5;
  font-family: "Istok Web", sans-serif;
}

h2,
h3 {
  font-family: Montserrat, sans-serif;
  color: #3b3b44;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

main {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  margin-bottom: 56px;

  article {
    width: calc(100% /3);
    padding: 15px;


    .card {
      height: 100%;
      padding: 2rem 1.5rem;
      border-radius: 10px;
      border: 1px solid #d4d4e1;
      transition: all 0.25s;

      .card-header {
        display: flex;
        margin-bottom: 1.5rem;

        div {
          margin-top: 0.625rem;
        }
      }


      &:hover {
        box-shadow: 2px 4px 20px 1px rgba(45, 45, 45, 0.13);
      }
    }
  }
}

img {
  width: 4.6875rem;
  height: 4.6875rem;
  min-width: 4.6875rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}

header {
  margin-bottom: 56px;
  text-align: center;

  span {
    color: #2c7ae7;
  }

  h2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 10px;
  }
}

footer {
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 6px;
    padding: 13px 22px;
    width: 250px;
    background: linear-gradient(to right, #568ad3 0, #0f58bd 100%);
    border: 1px #917cddec solid;
  }
}


@media screen and (max-width:1200px) {
  main {
    article {
      width: 50%;
    }
  }
}

@media screen and (max-width:768px) {
  main {
    article {
      width: 100%;
    }
  }
}

/* 1200-768px 2 */
/* 768px- 0 1 */