.container {
  border: 2px solid red;
  padding: 10px;
  width: 1000px;
  height: 800px;
  display: flex;
  /* flex-direction: column; */
  gap: 30px;
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  /* align-items: space-between; */
  /* align-items: flex-end;
  align-content: ; */
  /* justify-content: center;
  align-items: start; */
  /* align-content: space-between; */
  /* margin-inline: auto;
  flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* align-items: start; */
  /* flex-direction: row-reverse; */
  /* justify-content: flex-end; */
  /* justify-content: end; */
}

.item {
  width: 100px;
  background-color: brown;
  color: #fff;
  font-size: 40px;
  border: 1px solid blue;
  /* margin-left: 20px; */
}