* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dff1e7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Karla", sans-serif;
}

input:not(input[type="radio"], input[type="checkbox"]),
textarea {
  width: 100%;
  border: 0.0625rem solid rgb(0, 0, 0);
  border-radius: 0.375rem;
  padding: 0.625rem 1.5rem;
  outline: none;
}

form {
  padding: 2.5rem;
  background-color: #fff;
  width: 732px;
  border-radius: 10px;
  transition: all .3s;

  &:hover {
    box-shadow: 0 0 7px -1px #000;
  }

  &>div,
  &>label {
    margin-bottom: 15px;
    display: block;
  }

  h2 {
    margin-bottom: 28px;
    font-size: 1.875rem;
    font-weight: 700;
  }

  p {
    margin-bottom: 10px;
  }

  .fullname {
    display: flex;
    gap: 20px;

    label {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }

  .query {
    display: flex;
    gap: 20px;

    label {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      border: 0.0625rem solid rgb(0, 0, 0);
      border-radius: 0.375rem;
      padding: 0.625rem 1.5rem;
    }
  }

  textarea {
    resize: vertical;
  }

  .btn {
    color: #fff;
    cursor: pointer;
    background-color: #0c7d69;

    &:hover {
      background-color: #2b4246;
    }
  }
}