body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(26, 154, 201);
}

.container {
  width: 70%;
  max-width: 1320px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
}

.item {
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}


.item:first-child {
  animation-name: anim1;
}

@keyframes anim1 {
  50% {
    transform: translate(440px, 0);

  }

  100% {
    transform: translate(440px, 250px);
  }
}

.item:nth-child(2),
.item:nth-child(9) {
  animation-name: anim2;
}

@keyframes anim2 {
  100% {
    transform: translateX(-440px);
  }
}


.item:nth-child(3),
.item:nth-child(4) {
  animation-name: anim3;
}

@keyframes anim3 {
  100% {
    transform: translateY(250px);
  }
}


.item:nth-child(5) {
  animation-name: anim4;
}

@keyframes anim4 {
  50% {
    transform: translate(0, 250px);
  }

  100% {
    transform: translate(440px, 250px);
  }
}


.item:nth-child(6),
.item:nth-child(7) {
  animation-name: anim5;
}

@keyframes anim5 {
  100% {
    transform: translateY(-250px);
  }
}

.item:nth-child(8) {
  animation-name: anim6;
}

@keyframes anim6 {
  100% {
    transform: translateY(-500px);
  }
}